<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--扫描@Controller-->
    <context:component-scan base-package="com.nuc.edu.controller"></context:component-scan>

    <!--@Requesting-->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!--配置拦截器  织入切面-->
    <mvc:interceptors>

        <!--直接这样写  表示拦截所有的请求  包括jsp 图片等静态资源-->
        <bean id="my2" class="com.nuc.edu.interceptor.MyInver2"></bean>

        <mvc:interceptor>
            <mvc:mapping path="/login.do"/>
            <bean id="my" class="com.nuc.edu.interceptor.MyInver3"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

 </beans>